<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Cuota </label>
                                <input v-model="pago.cuota" type="number" name="cuota" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label> Fecha </label>
                                <input v-model="pago.fecha" type="date" name="fecha" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label> Monto </label>
                                <input v-model="pago.monto" type="number" name="monto" class="form-control"/>
                            </div>

                            <a v-on:click="eliminar()" class="btn btn-danger float-left">
                                Eliminar
                            </a>
                            <a v-on:click="guardar()" class="btn btn-success float-right">
                                Guardar
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'pago'
        ],
        methods: {
            eliminar() {
                console.log(this.pago);

                axios.delete('/api/pago/'+this.pago.id)
                    .then(res => {
                        alert(res.data.message);
                        window.location.href = '/proyecto/'+this.pago.proyecto_id+"/pago"
                    })
                    .catch(err => {
                        alert('No pudimos procesar su solicitud, intente nuevamente.');
                    })
            },
            guardar() {
                axios.patch('/api/pago/'+this.pago.id, this.pago)
                    .then(res => {
                        alert(res.data.message);
                    })
                    .catch(err => {
                        alert('No pudimos procesar su solicitud, intente nuevamente.');
                    })
            },
        }
    }
</script>
