<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Cuota </label>
                                <input v-model="pago.cuota" type="number" name="cuota" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label> Fecha </label>
                                <input v-model="pago.fecha" type="date" name="fecha" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label> Monto </label>
                                <input v-model="pago.monto" type="number" name="monto" class="form-control"/>
                            </div>

                            <a v-on:click="guardar()" class="btn btn-success">
                                Guardar
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'proyecto',
        ],
        data(){
            return {
                pago:{
                   cuota: '',
                   monto: '',
                   fecha: '',
                }
            };
        },
        methods: {
            guardar() {
                let path = '/api/proyecto/'+this.proyecto+'/pago/store';
                axios.post(path, this.pago)
                    .then(res => {
                        alert(res.data.message);
                        window.location.href = '/proyecto/'+this.proyecto+"/pago"
                    })
                    .catch(err => {
                        alert('No pudimos procesar su solicitud, intente nuevamente.');
                    })
            },
        }
    }
</script>
