<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-success float-right" style="margin-bottom: 10px;" :href="'/proyecto/'+proyecto.id+'/pago/create'"> Ingresar nuevo pago</a>
                        <h5>{{ proyecto.name }}</h5>

                        <div class="col-md-12" style="margin-top: 20px">
                            <table class="table table-striped" v-if="pagos.length > 0">
                                <thead>
                                <tr>
                                    <th>Cuota</th>
                                    <th>Monto</th>
                                    <th>Fecha</th>
                                    <th>Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="pago of pagos">
                                    <td> {{ pago.cuota }} </td>
                                    <td> {{ pago.monto }} </td>
                                    <td> {{ pago.fecha }} </td>
                                    <td>
                                        <a class="btn btn-info" :href="'/pago/'+ pago.id +'/edit'"> Editar / Ver </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p v-if="pagos.length < 1" style="text-align: center">No hay pagos registrados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'proyecto',
            'pagos'
        ]
    }
</script>
